<table>
  <tr>
    <th>Name</th>
    <th>Year Completed</th>
  </tr>
  <tr>
    <td><%= @landmark.name %></td>
    <td><%= @landmark.year_completed %></td>
  </tr>
<table>

<a class="button" href="/landmarks/<%= @landmark.id %>/edit">Edit Landmark</a>
<a class="button" href="/landmarks">Landmarks</a>
