.mush-details {
  overflow-x: scroll;
  min-height: 125px;
  max-width: 100%;
}

.ui.grid > .row.mush-details-row {
  flex-wrap: nowrap;
  min-height: 100%;
}

.ui.grid {
  padding: 0px 20px;
}

.searchBar{
  height:100px;
}

.search {
  display:inline-block;
  float:right;
}

.filter {
  display:inline-block;
  float:left;
}

img {
width: 200px;
height: 100px;
}
