<h1>One Snail, here!</h1>
<h3>Hi! I'm <%= @snail.name %>.</h3>
<p>People are always complimenting me for my lustrous <%= @snail.shell_color %>-colored shell.</p>
<p>Words I live by? Let me put it like this: "<%= @snail.quote %>"</p>

<a href="/snails">Back to Index</a>
<h1><%= @secret %></h1>
